#-ux-content .btn {
	//Applies to all buttons
	border-radius:300px;
}

.btn-primary {
	background-color:@ideagen-orange;
	border-color:@ideagen-orange;

	&:hover {
		background-color: darken(@ideagen-orange, 8%);
		border-color: @ideagen-orange;
	}

	&:focus,&:active,&:active:hover {
		background-color: darken(@ideagen-orange, 12%);
		border-color: darken(@ideagen-orange, 18%);
	}
}

.btn-white {
	border-color:@white;
	color:@white;

	&:hover, 
	&:active:hover,
	&:active,
	&:focus {
		color:darken(@white, 15%);
		border-color:darken(@white, 15%)
	}
}

.btn {
	text-decoration:none;
	padding:8px 20px;
}

.btn-lg {
	padding:12px 26px;
}

.btn-block {
	display:block;
	background:@mid-grey;
	padding:14px 0;
	font-size:16px;
	color:@dark-grey;
	margin-top:15px;
	text-align:center;
	text-decoration:none;
	.border-radius(4px, 4px, 4px, 4px);
	.softAnimate();
	
	&:hover {
		background:@ideagen-blue;
		text-decoration:none;
		color:@white;
	}
	&:focus, &:active {
		background:darken(@ideagen-blue, 8%);
		text-decoration:none;
		color:@white;
	}
}

.play-video {
	border:none;
	display:block;
	background:none;
	.box-shadow(0px 10px 30px 0px rgba(10, 50, 84, 0.2));
	.border-radius(400px, 400px, 400px, 400px);
	height:110px;
	width:110px;
	padding:0;

	svg .play-video-btn--circle {
		fill:@white;

	}
	svg .play-video-btn--play-head {
		fill:@ideagen-blue;
	}
	&:hover {
		svg .play-video-btn--play-head {
			fill:@ideagen-mid-blue;
			.softAnimate()
		}
	}
}

.play-video--caption {
	margin:5px 0 0;
	color:@white;
	font-size:12px;
}