
#lg-standard-header {

    h1 {
        color:@white;
        font-size: 28px;
        text-align: center
    }
}

.cardsection--subheading{
	h4{
		font-size: 18px!important;

	}
}

.legal-links{
	a{
		text-decoration: none;
	}
}

.card-vertical--title{
	p{
		color:#666!important;
	}
}

#tx-row{
	h2{
		font-size: 30px!important;
		color:#666!important;
	}

	ul{
		.card-list-widget {
			.card-list-widget--blog-recent{
				.card-horizontal--colleft{
					min-width: 65px;
				}
			}
		}
	}
}

#footer{
	.page-container{
		padding-left: 0;
		padding-right: 0;

	}
}

.card-horizontal--colleft{
	p{
		color:#666!important;
		color:#666;
	}
}

.block-callout{
	h2{
		font-size: 30px!important;
		color:#666;
	}

	h3{
		font-size: 24px!important;
		color:#666;
	}

	h4{
		color:#666;
		font-size: 18px!important;
	}
	p{
		font-size: 20px!important;
		line-height: 1.4;
		color:#666;

		strong{
			font-size: 16px;
		}
	}


	.fix-p-size-sm{
		font-size: 16px!important;
		line-height: 1.6;
		color:#666;
	}

	.fix-p-size-lh{
		font-size: 16px!important;
		line-height: 1.4;
		color:#666;
	}

	.fix-p-size-lg{
		font-size: 20px!important;
		line-height: 1.6;
		color:#666;
	}

	ul{
		color:#666;

		li{
			color:#666;
			list-style: none;
		}
	}

	.disc{

		li{
			list-style: disc!important;
		}
		
	}

	.grey-color{
		color:#666!important;
	}

	.font-lg{
		font-size: 44px!important;
	}
}

.fix-p-size-sm-p{
	p{
		font-size: 16px!important;
		line-height: 1.6;
		color:#666;
	}
	ul{
		li{
		list-style: disc;
		}
	}

	a{
		text-decoration: none;
	}
}

.blog-content-cont{
	p{
		font-size: 16px!important;
	}
}



.block-callout-grey{

	h1{
		font-size: 44px!important;
		color:#666;
	}

	h2{
		font-size: 30px!important;
		color:#666;
	}

	a{
		text-decoration: none;
	}
}

.heineken-video {
    background-image: url(/images/assets/pentana-audit-product-video-background.jpg);
    }

.fix-p-size-lg-b{
		font-size: 20px!important;
		line-height: 1.4;
		color:#666;
	}

.grey-color{
		color:#666!important;
	}

#content section .microbanners .asset-inline {
    display: inline-block!important;
    float: none!important;
    min-height: 100px;
    min-width: 185px;
    text-align: center;
}

.block-callout-green{

	.fix-p-size-sm-white{
		font-size: 16px!important;
		line-height: 1.4;
		color:#fff;
	}

}

.block-callout-purple{
	.font-lg{
		font-size: 44px!important;
	}

	.fix-p-size-sm{
		font-size: 16px!important;
		line-height: 1.6;
	}
}

.block-callout-sm{
	h2{
		font-size: 30px!important;
		color:#666;
	}

	h3{
		font-size: 24px!important;
		color:#666;
	}

	p{
		font-size: 16px!important;
		line-height: 1.4;
		color:#666;
	}

	.fix-p-size-lg{
		font-size: 20px!important;
	}

	ul{
		li{
			color:#666;
		}
	}
}

.section-stroke-bottom{
	h2{
		font-size: 30px!important;
		color:#666;
	}
}

.case-study-callout{
	h2{
		font-size: 30px!important;
	}
}

.fix-p-size{
	font-size: 20px!important;
	line-height: 1.4;
	color:#666;
}

.fix-p-size-sm{
	font-size: 16px!important;
	line-height: 1.4;
	color:#666;
}

.fix-p-size-xs{
	font-size: 14px!important;
	line-height: 1.4;
	color:#666;
}

.dics{
	list-style: disc!important;
}



.text-decoration-none{
	text-decoration: none!important;
}

.fix-p-size-lg{
	font-size: 24px!important;
	line-height: 1.4;
	color:#666;
}

#lg-standard-header{
	p{
		color:@white;
	}

	h3{
		color:@white;
	}
	a{
		color:@white;
	}
}

#tx-div{
	p{
		color:#666;
	}
}



.no-bold{
	font-weight: 300!important;
}

.bold{
	font-weight: 700!important;
}

.purple-col{
	background-color:#552988;
	color:#fff;

	p{
		color:@white;
		font-size: 16px;
	}
}

.product-heading-container{
	h1{
		font-family: @roboto!important;
		font-weight: 700!important;
	}
}

.midland-aerospace-case-study-bg {
    background: url(/images/products/q-pulse-pm/midlands-case-study-bg.jpg) center center no-repeat;
    background-size: cover;
}

.disclose-callout {
    background: url(/images/products/pentana/pentana-background.png) top left no-repeat;
    color: #fff;
    background-size: cover;
    border-top: 8px solid #1b315c;

    p{
		font-size: 16px!important;
		line-height: 1.4;
		color:#fff;
	}

	h2{
		font-family: Roboto,Helvetica,Arial,sans-serif;
	    font-size: 34px!important;
	    font-weight: 700!important;
	    color:#fff;
	}
}

.white-col{
	img{
		height: 100%;
		max-width: 100%;
		max-height: 350px;
	}
}

#content .idg-video-container .idg-video-bottom-section h2 {
    font-size: 28px;
    display: block;
    width: 100%;
    text-align: left;
    color: #fff!important;
}

.feature-list-item .contenteditor, .feature-list-item .feature-icon {
    display: table-cell;
    vertical-align: middle;
}

.ideagen-quote-callout{
	p{
		color:@white!important;
	}
}

.feature-list-item {
    margin-top: 20px;
}

.asset-code{
	min-width: 80px;
}

.media-body{
	h3{
		margin-top: 0!important;
	}
	padding-left: 10px!important;
}

.margin-top-50 {
    margin-top: 50px;
}

@media (min-width: 768px){
	.disclose-callout h2 {
	    font-size: 46px!important;
	}

#content .idg-video-container .idg-video-bottom-section h2 {
	    font-size: 34px;
	}
}


@media (min-width: 992px){
	.disclose-callout h2 {
	    font-size: 50px!important;
	}
}


@media (min-width: 1280px){
.disclose-callout h2 {
    font-size: 54px!important;
}

#lg-standard-header {
        h1 {
        	font-size: 42px;
        }
    }

    #content .idg-video-container .idg-video-bottom-section h2 {
	    font-size: 46px;
	}
}

@media (min-width: 1500px){
	.disclose-callout h2 {
	    font-size: 60px!important;
	}
}
