a {
	text-decoration:underline;
	
    &:hover {
        text-decoration: none;
    }
}

.contenteditor a.link-internal,
.contenteditor a.external-external {
	text-decoration: underline;
	color: @ideagen-blue;

	&:hover {
		color: lighten(@ideagen-blue, 10%);
		text-decoration:none;
	}
}

.card-vertical .contenteditor a.link-internal,
.card-vertical .contenteditor a.external-external {
	text-decoration: none;
}