#content {
	nav.sitemap {
		margin-top:40px;
		// All Items
		ul {
			list-style:none;
			line-height:20px;
		}
		// 1st Level
		> ul {
			padding:0;

			> li {
				margin:4px 0;
				background: @menu-hover-blue;
				padding:5px 5px 5px 5px;

				 > a {
					font-weight:bold;
					margin: 10px 0 10px 15px;
					display:block;
				}

				// 2nd Level
				> ul {
					columns:1;
					@media (min-width:768px) {
						columns:3;
					}

					padding:0 30px 15px;
					margin:0;
					> li {
						font-size:14px;
						margin:5px 0;
					} 
				}
			}
		}
	}
}