/* blog search */
.blog-search fieldset legend {
    display:none;
}
.blog-search .question,
.blog-search .answer {
    width:100%;
    float:left;
    clear:both;
}


/*blog lister*/
.lister-cards.cards-blogs>h2 {display:none;}

.item-thumbnail { 
    height:100px; 
    overflow:hidden; 
    text-align:center; 
    background:#999;
}
.item-category { 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    font-size: 12px; 
    border-radius: 20px; 
    background: #00a7e8;
}
.item-category a { padding:5px 12px; line-height:1; display:block; color:#fff; }
.item-datetime { 
    width: 80px; 
    overflow: auto; 
    float: left; 
    left: 50%; 
    position: absolute; 
    margin-left: -83px; 
    top: 60px;
}

.item-ttl { 
    margin-top:40px;
    padding: 0 30px 30px; 
    -webkit-font-smoothing: antialiased; 
    clear:both; 
    text-align:center;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.item-ttl>a { 
    font-size: 24px;
    color: #666;
    display:block;
}
.item-ttl>a:hover { 
    color: #333; 
    -webkit-transition: color 0.5s; 
    transition: color 0.5s;
}
.item-ttl a span { display: block; }

.card .item-owner-avatar { 
    position: absolute;
    right: 50%;
    top: 60px;
    margin-right: -83px;
    background: #fff;
    border-radius: 40px;
    height:80px;
    width:80px;
}
.card .item-owner-avatar img { 
    border-radius: 40px; 
    border: 4px solid #fff;
    height:80px!important;
    width:80px!important;
}

/*BLOG*/
.blog-thumbnail {
    height:120px;
    width:100%;
    overflow:hidden;
}
.blog-category {
    position:absolute;
    top:20px;
    right:20px;
    font-size:12px;    
    border-radius:20px
}
.blog-category a {
    padding:5px 12px;
    line-height:1;
    display:block;
    color:#fff;
}
.news-category {
    display:inline-block;
    font-size:12px;    
    border-radius:20px;
    margin:10px 0 30px 30px;
}
.news-category a {
    padding:5px 12px;
    line-height:1;
    display:block;
    color:#fff;
}
.news-publication {
    margin-left:30px;
    font-size:12px;
}
.blog-publication {
    width:176px;
    margin:-35px auto 0 auto;
    overflow:auto;
    position:relative;
    z-index:1;
}
.date {
    float:left;
    width:80px;
    height:80px;
    padding-top:5px;
    font-family:'Lato', Helvetica, Arial, sans-serif;
    font-weight:400;
    background:#efefef;
    border:4px solid #fff;
    border-radius:40px;
}
.date-day {
    font-size:36px;
    display:block;
    width:100%;
    text-align:center;
    line-height:1;
}
.date-month {
    font-size:18px;
    display:block;
    width:100%;
    text-align:center;
    line-height:1;
    text-transform:uppercase;
}
.blog-title {
    clear:both;
}
.blog-title .post-title {
    font-family:'Lato', Helvetica, Arial, sans-serif;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-size:28px;
    text-align:center;
    display:block;
    padding:0 30px 10px;
    color:#666;
}
.blog-title .post-title:hover {
    color:#333;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.author-name {
    display:block;
    text-align:center;
    padding:0 30px 30px;
    font-size:12px;
}
span.item-owner-name { 
    font-size:12px;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:normal;
}
span.item-owner-name a {
    border-bottom:2px solid #B3C9E9;
    padding-bottom:3px;
    color:#666666;
}
span.item-owner-name a:hover {
    text-decoration:none;
    border-color:#FF4612;
    -webkit-transition:border 0.5s;
    transition:border 0.5s;
}
.news-title {
    clear:both;
}
.news-title .post-title {
    font-family:'Lato', Helvetica, Arial, sans-serif;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    font-size:28px;
    display:block;
    margin:20px 30px;
    padding-bottom:20px;
    color:#666;
    border-bottom:1px solid #d6d6d6;
}
.blog-title .post-title:hover {
    color:#333;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

@media(min-width:768px) {

}
@media(min-width:992px) {
    .item-ttl>a { font-size: 26px; line-height:1.2;}

}
@media(min-width:1280px) {

}