header#standard.flyers-palette .breadcrumbs,
header#standard.flyers-palette .breadcrumbs a,
header#standard.flyers-palette .search-button,
header#standard.flyers-palette .mobile-nav-btn {
    color:#fff;
}
header#standard.flyers-palette .breadcrumbs {
    border-left-color:#fff;
}

section.flyer-content {
	padding:50px 0;
}
aside.flyer-image .asset-width {
	width:100%!important;
}
aside.flyer-image .asset-width .asset {
	text-align:center
}

@media (min-width:768px) {
	aside.flyer-image .asset-width .asset {
		width:100%!important;
	}
	aside.flyer-image .asset-width .asset img {
		height:auto!important;
		width:100%!important;
	}
}
@media (min-width:992px) {}

@media (min-width:1280px) {}